// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.book-image {
	img {
		border-radius: 5px;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}
}

.tooltipc {

	position: relative;
	
	h2 {
		text-overflow: ellipsis;
		overflow: hidden; 
		width: 100%;
		white-space: nowrap;
	}

	.tooltiptextc {
		visibility: hidden;
		width: 30%;
		background-color: black;
		color: #fff;
		text-align: center;
		padding: 10px 5px 5px 10px;
		border-radius: 6px;
		position: absolute;
		z-index: 10;
		top: 100%;
		left: 50%;
		margin-left: -50%;
	}

	.tooltiptextc::after {
		content: " ";
		position: absolute;
		bottom: 100%;
		left: 10%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: transparent transparent black transparent;
	}



	.tooltiptextv {
		visibility: hidden;
		width: 100%;
		background-color: black;
		color: #fff;
		text-align: center;
		padding: 10px 5px 5px 10px;
		border-radius: 6px;
		position: absolute;
		z-index: 10;
		top: 100%;
		left: 50%;
		margin-left: -50%;
		word-wrap: break-word;
	}

	.tooltiptextv::after {
		content: " ";
		position: absolute;
		bottom: 100%;
		left: 50%;
		margin-left: -5px;
		border-width: 5px;
		border-style: solid;
		border-color: transparent transparent black transparent;
	}


	&:hover .tooltiptextc {
		visibility: visible;
	}

	&:hover .tooltiptextv {
		visibility: visible;
	}
}

.book-list {
	.book-list-link {
		text-decoration: none;
	}

	.book-list-item {

		margin-bottom: 20px;
		padding: 10px;
		// border-bottom: 1px solid rgba(0,0,0,0.3);

		// display: flex;
		// justify-content: flex-start;

		text-align: center;

		.book-list-item-image {
			img {
				width: 152px;
				height: 229px;
				object-fit: cover;
				border: 1px solid black;
				border-radius: 5px;
			}
		}

		.book-list-item-info {
			padding-left: 10px;
		}

		.book-list-item-title {
			font-size: 1.5em;
			text-overflow: ellipsis;
			overflow: hidden; 
			width: 100%;
			white-space: nowrap;
		}

		.book-list-item-author {

		}

		.book-list-item-desc {
			text-align: left;
		}
	}

	.book-list-pages ul{
		justify-content: center;
	}
}

@media (max-width: 600px) {
	.book-list-item {
		flex-direction: column;
	}
}